body{

    background-color:#e0fbfc;
}

/*Below is a heirarical implementation of background color class=.love is given priorty over heading 1 <h1> tag as it is more specific than any tag selectors.Hence,i can either call tag individually by a unique id number or call many similar items by using class selectors*/
h1{

background-color: blue;
}
.love{
    background-color: red;
}